# Simple Starter Notebook for;
## UmojaHack Africa 2021 #2: Sendy - Delivery Rider Response Challenge by UmojaHack Africa

Can you predict who is the best delivery rider for an order placed via logistics company Sendy?

![Umoja Hack](https://zindpublic.blob.core.windows.net/public/uploads/competition/image/152/thumb_c5ec4e2a-e000-4176-a93c-dd1143c2b60f.png)

The objective of this challenge is to create a machine learning model that will predict whether a rider will accept, decline or ignore an order sent to them.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score

In [2]:
# Load files
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')
riders = pd.read_csv('Riders.csv')
ss = pd.read_csv('SampleSubmission.csv')

In [3]:
# check data shapes
train.shape, test.shape, riders.shape, ss.shape

((179867, 21), (76791, 20), (2486, 4), (76791, 2))

In [4]:
# Preview train
train.head()

              ID  order_id  dispatch_day  ...  drop_off_lat drop_off_long  target
0  ID_SCUW21PVAU      4435            27  ...    -42.687442    -17.424682       1
1  ID_2HA7X30JMN     32711            30  ...    -42.673267    -17.234595       2
2  ID_IAJWDTBY6M      8712            14  ...    -42.813953    -17.294805       1
3  ID_LKSVPNYMTR     44869            22  ...    -42.812409    -17.265441       2
4  ID_O7N8Y918YH     57590            27  ...    -42.828517    -17.302052       0

[5 rows x 21 columns]

In [5]:
# Preview riders
riders.head()

   Rider ID  Active Rider Age  Average Partner Rating  Number of Ratings
0     16261               308                   21.05                321
1      8832               224                   10.00                 27
2     53866               238                   17.76                 25
3     46368               343                   24.56                320
4     45609               399                   14.97                214

In [6]:
# Merge rider dataset to train and test sets
train = train.merge(riders, how = 'left', left_on='rider_id', right_on='Rider ID')
test = test.merge(riders, how = 'left', left_on='rider_id', right_on='Rider ID')

# Preview merged dataframe
train.head()

              ID  order_id  ...  Average Partner Rating  Number of Ratings
0  ID_SCUW21PVAU      4435  ...                   10.00                1.0
1  ID_2HA7X30JMN     32711  ...                     NaN                NaN
2  ID_IAJWDTBY6M      8712  ...                   24.92              123.0
3  ID_LKSVPNYMTR     44869  ...                   23.76              175.0
4  ID_O7N8Y918YH     57590  ...                   24.53               42.0

[5 rows x 25 columns]

In [7]:
# One hot encoding
train = pd.get_dummies(train, columns=['client_type', 'vendor_type'])
test = pd.get_dummies(test, columns=['client_type', 'vendor_type'])

In [8]:
# Split data
main_cols = train.columns.difference(['ID', 'order_id', 'rider_id', 'Rider ID', 'target', 'dispatch_time',	'client_id']).tolist()
X = train[main_cols]
y = train.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 3031)

# Train a model
model = LGBMClassifier(random_state=3031)
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Check score
accuracy_score(y_test, y_pred)

0.6144437649413466

In [9]:
# Make predictions in test set and prepare submission file
predictions = model.predict(test[main_cols])
sub_file = ss.copy()
sub_file.target = predictions
sub_file.to_csv('Baseline.csv', index = False)